@import "common/style.scss";
@import "common/mixin.scss";
@import "common/components.scss";
@import "parts/header.scss";
@import "parts/breadcrumbs.scss";
@import "parts/article.scss";
@import "parts/article_pickup.scss";
@import "parts/sidebar.scss";
@import "parts/doc_req.scss";
@import "parts/contact_phone_number.scss";
@import "parts/footer.scss";

main {
  margin-top: 80px;

  .single {
    .single-inner {
      display: flex;
      max-width: 900px;
      padding-top: 60px;
      padding-bottom: 36px;
      margin: 0 auto;
      @include mq(sp) {
        display: block;
        padding: 58px 16px;
      }
      @include mq(tab) {
        padding: 60px 16px 36px 16px;
      }
      .single-left {
        width: 100%;
        max-width: 590px;
        margin-right: 36px;
        @include mq(sp) {
          max-width: none;
        }
      }
      .single-right {
        width: 100%;
        max-width: 269px;
        @include mq(sp) {
          max-width: none;
        }
      }
    }
  }
}