$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  sp-and-tab: 'screen and (max-width: 1024px)',
  tab: 'screen and (min-width: 768px) and (max-width: 1024px)',
  tab-and-pc: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
