.p-blog {
  &__inner {
    padding: 58px 0 45px 0;
    &__contents {
      margin-bottom: 40px;
      &__title {
        text-align: center;
        padding-bottom: 60px;
        font-size: 32px;
        font-weight: bold;
      }
      &__list {
        padding-bottom: 61px;
        @include mq(sp-and-tab) {
          padding: 0 16px 60.2px 16px;
        }
        &__row {
          display: flex;
          min-height: 180px;
          cursor: pointer;
          @include mq(sp) {
            display: block;
          }
          &:not(:last-child) {
            margin-bottom: 61px;
          }
          &__bg-img {
            position: relative;
            min-width: 240px;
            max-width: 240px;
            background-repeat: no-repeat;
            background-size: cover;
            @include mq(sp) {
              width: 100%;
              max-width: none;
              height: 240px;
              margin-bottom: 20px;
            }
            &__category {
              position: absolute;
              min-width: 80px;
              height: 28px;
              padding: 0 9px;
              font-size: 12px;
              background-color: #1B224C;
              color: white;
              @include flexbox(nowrap, center, center);
            }
          }
          &__wrapper {
            max-width: 609px;
            margin-left: 50.1px;
            @include mq(sp) {
              margin-left: 0;
            }
            &__date {
              padding-bottom: 20px;
            }
            &__title {
              padding-bottom: 18px;
              margin-top: -4px;
              a {
                font-size: 26px;
                font-weight: bold;
                color: #1B224C;
                line-height: 1.5;
                @include line-clump(3);
              }
            }
            &__content {
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}
