.p-doc-req {
  &__inner {
    height: 256.4px;
    padding-top: 70px;
    text-align: center;
    @include bg-img(url("../img/cta.jpeg"), no-repeat, center, cover);
    &__title {
      font-size: 32px;
      font-weight: bold;
      color: white;
      @include mq(sp) {
        font-size: 24px;
      }
    }
    &__btn-area {
      padding-top: 24px;
      &-btn-doc-req {
        width: 280px;
        height: 50px;
        font-size: 16px;
        border-radius: 25px;
      }
      &__link-area {
        padding-top: 22px;
        a {
          color: white;
        }
      }
    }
  }
}
