.p-hero {
  width: 100%;
  height: 476px;
  @include bg-img(url("../img/fv.jpg"), no-repeat, center, 100%);
  @include mq(sp) {
    height: auto;
    background-position: 80% 20%;
    background-size: cover;
  }
  &__inner {
    padding-top: 116px;
    text-align: center;
    color: white!important;
    @include mq(sp) {
      padding: 66px 0;
    }
    &__title {
      font-size: 48px;
      font-weight: bold;
      text-shadow: 0 3px 6px rgba(0,0,0,0.16);
      @include mq(sp) {
        font-size: 28px;
      }
    }
    &__sub-title {
      max-width: 328px;
      padding-top: 22px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.7;
      @include mq(sp) {
        max-width: 258px;
        font-size: 14px;
      }
    }
    &__btn-area {
      padding-top: 45px;
      @include mq(sp) {
        padding-top: 20px;
      }
      &-btn-doc-req {
        width: 260px;
        height: 60px;
        border-radius: 31px;
        font-size: 16px;
      }
    }
    &__link-area {
      padding-top: 22px;
      @include mq(sp) {
        padding-top: 18px;
      }
      a {
        color: white!important;
      }
    }
  }
}

.p-hero-fix {
  height: 221px;
  @include mq(sp) {
    height: 65px;
  }
  &__inner {
    @include bg-img;
    &__title {
      height: 100%;
      font-size: 32px;
      font-weight: bold;
      color: white;
      @include flexbox(nowrap, center, center);
      @include mq(sp) {
        font-size: 24px;
      }
    }
  }
}
