.p-phone-link {
  padding-top: 20.3px;
  padding-bottom: 23.7px;
  &__inner {
    display: flex;
    max-width: 778px;
    margin: 0 auto;
    @include mq(sp) {
      display: block;
      text-align: center;
    }
    &__title {
      display: flex;
      padding-right: 20px;
      font-weight: bold;
      @include mq(sp) {
        display: block;
        padding-right: 0;
      }
      span {
        margin-top: auto;
        margin-bottom: 3px;
        font-size: 16px;
      }
    }
    &__link {
      padding-right: 20px;
      font-size: 36px;
      font-weight: bold;
      text-decoration: none;
      @include mq(sp) {
        padding-top: 12px;
        padding-right: 0;
        font-size: 28px;
      }
    }
    &__active-time {
      display: flex;
      @include mq(sp) {
        display: block;
        padding-top: 12px;
      }
      span {
        margin-top: auto;
        margin-bottom: 3px;
      }
    }
  }
}
