@import "../common/mixin.scss";

$blog-pickup-img-width: 150px;
$blog-pickup-img-box-margin-right: 16px;

.article-pickup {
  .article-pickup-inner {
    .article-pickup-title {
      margin-top: 60px;
      font-size: 26px;
      font-weight: bold;
    }
    .article-pickup-list {
      margin-top: 30px;
      .blog-pickup-row {
        display: flex;
        margin-bottom: 28px;
        cursor: pointer;
        .blog-pickup-img-box {
          position: relative;
          min-width: 210px;
          min-height: 128px;
          margin-right: 32px;
          background-repeat: no-repeat;
          background-size: 100%;
          @include mq(sp) {
            min-width: auto;
            width: $blog-pickup-img-width;
            margin-right: $blog-pickup-img-box-margin-right;
          }
          .blog-pickup-category {
            position: absolute;
            min-width: 80px;
            height: 28px;
            padding: 0 9px;
            font-size: 12px;
            background-color: #1B224C;
            color: white;
            @include flexbox(nowrap, center, center);
          }
        }
        .blog-pickup-text-box {
          max-width: 348px;
          @include mq(sp) {
            max-width: calc(100% - #{$blog-pickup-img-width} - #{$blog-pickup-img-box-margin-right});
          }
          .blog-pickup-date {
            margin-bottom: 29px;
          }
          .blog-pickup-title {
            a {
              font-weight: bold;
              line-height: 1.5;
              @include line-clump(3);
            }
          }
        }
      }
    }
  }
}