@import "../common/mixin.scss";

.blog {
  .blog-inner {
    max-width: 900px;
    padding: 58px 0 45px 0;
    margin: 0 auto;
    .blog-contents {
      margin-bottom: 53px;
      .blog-title {
        text-align: center;
        padding-bottom: 60px;
        font-size: 32px;
        font-weight: bold;
      }
      .blog-list {
        padding-bottom: 61px;
        @include mq(sp-and-tab) {
          padding: 0 16px 60.2px 16px;
        }
        .blog-row {
          display: flex;
          min-height: 180px;
          cursor: pointer;
          @include mq(sp) {
            display: block;
          }
          &:not(:last-child) {
            margin-bottom: 61px;
          }
          .blog-img-box {
            position: relative;
            min-width: 240px;
            max-width: 240px;
            background-repeat: no-repeat;
            background-size: cover;
            @include mq(sp) {
              width: 100%;
              max-width: none;
              height: 240px;
              margin-bottom: 20px;
            }
            .blog-category {
              position: absolute;
              min-width: 80px;
              height: 28px;
              padding: 0 9px;
              font-size: 12px;
              background-color: #1B224C;
              color: white;
              @include flexbox(nowrap, center, center);
            }
          }
          .blog-text-box {
            max-width: 609px;
            margin-left: 50.1px;
            @include mq(sp) {
              margin-left: 0;
            }
            .blog-date {
              padding-bottom: 20px;
            }
            .blog-row-title {
              padding-bottom: 18px;
              margin-top: -4px;
              a {
                font-size: 26px;
                font-weight: bold;
                color: #1B224C;
                line-height: 1.5;
                @include line-clump(3);
              }
            }
            .blog-content {
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
}