@import "../common/mixin.scss";

.contact {
  .contact-inner {
    max-width: 700px;
    padding-top: 51px;
    padding-bottom: 62px;
    margin: 0 auto;
    @include mq(sp) {
      padding: 51px 16px 62px 16px;
    }
    label, input ,textarea {
      display: inline-block;
    }
    .contact-explanation {
      line-height: 1.7;
    }
    .mw_wp_form {
      margin-top: 48px;
      .form-label-top {
        margin-top: 20px;
      }
      .form-text {
        width: 100%;
        padding: 14px 20px 16px 20px;
        margin-top: 12px;
      }
      .form-label-radio {
        margin-top: 24px;
        @include mq(sp) {
          line-height: 1.7;
        }
      }
      .form-radios {
        margin-top: 15px;
        .mwform-radio-field {
          display: block;
          margin-left: 0;
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
          .form-radio {
            display: none;
          }
          .mwform-radio-field-text {
            display: block!important;
            padding: 5px 39px;
          }
          .form-radio:checked + .mwform-radio-field-text::after {
            opacity: 1;
          }
        }
      }
      .form-label-contact {
        margin-top: 19px;
      }
      .textarea-contact {
        width: 100%;
        height: 241px;
        padding: 22px 23.2px;
        margin-top: 12px;
      }
      .privacy-policy-box {
        padding-left: 12rem;
        margin-top: 30.6px;
        @include mq(sp) {
          text-align: center;
          padding-left: 0;
        }
        a {
          color: #F5A623;
        }
      }
      .privacy-policy-agree-label {
        width: 100%;
        padding-left: 14.9rem;
        margin-top: 27px;
        @include mq(sp) {
          text-align: center;
          padding-left: 30px;
        }
        .privacy-policy-agree {
          display: none;
        }
        .mwform-checkbox-field-text {
          padding: 5px 35px;
        }
        .privacy-policy-agree:checked + .mwform-checkbox-field-text::after {
          opacity: 1;
        }
      }
      .error {
        margin-top: 14px;
      }
      .btn-send-box {
        padding-left: 17.2rem;
        margin-top: 44px;
        @include mq(sp) {
          text-align: center;
          padding-left: 0;
        }
        .btn-send {
          width: 200px;
          height: 50px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}