@import "../common/mixin.scss";

$btn-height: 50px;
$font-size: 14px;
$font-weight: bold;
$border-radius: 5px;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 999;
  overflow-x: hidden;
  .header-inner {
    display: flex;
    padding: 15px 10px 15px 15px;
    .wrap-left {
      display: flex;
      .logo {
        padding-top: 12px;
        padding-bottom: 11px;
        a {
          img {
            width: 136px;
          }
        }
      }
      .nav {
        display: flex;
        align-items: center;
        @include mq(sp-and-tab) {
          display: none;
          position: fixed;
          top: 80px;
          left: 0;
          width: 100%;
          background-color: #1B224C;
          color: white;
          z-index: 1;
        }
        ul {
          @include mq(sp-and-tab) {
            @include flexbox(nowrap, center, stretch, column);
          }
          li {
            font-weight: bold;
            @include mq(sp-and-tab) {
              padding: 12px 24px!important;
              &:first-child {
                padding-top: 24px!important;
              }
              &:last-child {
                padding-bottom: 24px!important;
              }
            }
            &:first-child {
              padding-left: 28px;
            }
            &:nth-child(2) {
              padding-left: 24px;
            }
            &:nth-child(3) {
              padding-left: 22px;
            }
            &:nth-child(4) {
              padding-left: 24px;
            }
            a {
              text-decoration: none;
              @include mq(sp-and-tab) {
                font-size: 16px;
                color: white;
              }
            }
            .btn-doc-req {
              width: 142px;
              height: $btn-height;
              margin-right: 10px;
              font-size: $font-size;
              border-radius: $border-radius;
            }
            .btn-contact {
              width: 137px;
              height: $btn-height;
              font-size: $font-size;
              background-color: white;
              color: #1B224C;
              border-radius: $border-radius;
            }
          }
        }
      }
    }
    .wrap-right {
      display: flex;
      margin-left: auto;
      @include mq(sp) {
        display: none;
      }
      .text-area {
        padding-top: 13px;
        padding-right: 23px;
        .active-time {
          height: 12px;
          text-align: right;
          font-size: 12px;
        }
        .phone-number {
          position: relative;
          margin-top: 9px;
          font-weight: bold;
          &::before {
            content: "";
            position: absolute;
            left: -15px;
            width: 10px;
            height: 15px;
            margin-top: 1px;
            @include bg-img(url("../img/phone.png"), no-repeat);
          }
        }
      }
      .btn-doc-req {
        width: 142px;
        height: $btn-height;
        margin-right: 10px;
        font-size: $font-size;
        border-radius: $border-radius;
      }
      .btn-contact {
        width: 137px;
        height: $btn-height;
        font-size: $font-size;
        border-radius: $border-radius;
      }
    }
    .hamburger {
      display: none;
      @include mq(sp) {
        display: flex;
        margin-left: auto;
      }
      @include mq(tab) {
        display: flex;
        padding-left: 10px;
      }
      .btn-hamburger {
        width: 48px;
        padding: 0 6px;
        z-index: 10;
        .open {
          background-color: transparent!important;
          &::before {
            transform: rotate(45deg)!important;
          }
          &::after {
            transform: rotate(-45deg)!important;
          }
        }
        .btn-hamburger-line {
          display: block;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: #1B224C;
          position: relative;
          transition: all 0.5s;
          &::before, &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #1B224C;
            position: absolute;
            transition: all 0.5s;
          }
          &::before {
            transform: translateY(-12px);
          }
          &::after {
            transform: translateY(12px);
          }
        }
      }
    }
  }
}