@import "../common/mixin.scss";

.hero-fix {
  height: 221px;
  @include mq(sp) {
    height: 65px;
  }
  .hero-fix-inner {
    @include bg-img(url("../img/plan.jpeg"), no-repeat, center, cover);
    .hero-fix-title {
      height: 100%;
      font-size: 32px;
      font-weight: bold;
      color: white;
      @include flexbox(nowrap, center, center);
      @include mq(sp) {
        font-size: 24px;
      }
    }
  }
}