@import "../common/mixin.scss";

.post {
  padding-top: 57.2px;
  @include mq(sp) {
    padding-top: 30.2px;
  }
  .post-inner {
    max-width: 900.5px;
    padding-bottom: 119px;
    margin: 0 auto;
    @include flexbox(nowrap);
    @include mq(sp-and-tab) {
      @include flexbox(wrap);
      padding: 0 16px;
    }
    .blog-inner {
      width: 430px;
      margin-right: 67px;
      @include mq(sp-and-tab) {
        width: 100%;
        margin-right: 0;
      }
      .blog-title {
        margin-bottom: 4px;
        font-size: 32px;
        font-weight: bold;
        @include mq(sp-and-tab) {
          text-align: center;
        }
        @include mq(sp) {
          font-size: 28px;
        }
      }
      .blog-list {
        @include mq(sp-and-tab) {
          padding-bottom: 60.2px;
        }
        &:not(:first-child) {
          padding-top: 32px;
        }
        .blog-row {
          display: flex;
          min-height: 110px;
          cursor: pointer;
          &:not(:last-child) {
            margin-bottom: 31px;
          }
          .blog-img-box {
            position: relative;
            width: 150px;
            background-repeat: no-repeat;
            background-size: contain;
            @include mq(sp-and-tab) {
              width: 240px;
              background-size: cover;
            }
            .blog-category {
              position: absolute;
              min-width: 78px;
              height: 23px;
              padding: 0 9px;
              font-size: 12px;
              background-color: #1B224C;
              border: 1px solid #707070;
              color: white;
              @include flexbox(nowrap, center, center);
            }
          }
          .blog-text-box {
            width: 260px;
            margin-left: 20px;
            @include flexbox(nowrap, center, stretch, column);
            @include mq(sp-and-tab) {
              width: 100%;
            }
            @include mq(sp) {
              margin-left: 10px;
            }
            .blog-row-title {
              a {
                margin-top: -6px;
                font-weight: bold;
                color: #1B224C;
                line-height: 1.7;
                @include line-clump(3);
              }
            }
            .blog-date {
              margin-top: auto;
              font-size: 12px;
            }
          }
        }
      }
    }
    .correct-inner {
      width: 430px;
      @include mq(sp-and-tab) {
        width: 100%;
      }
      .correct-title {
        margin-bottom: 36px;
        font-size: 32px;
        font-weight: bold;
        @include mq(sp) {
          text-align: center;
          font-size: 28px;
        }
      }
      .correct-list {
        width: 402px;
        @include mq(sp) {
          width: auto;
        }
        .correct-row {
          padding-bottom: 24px;
          .correct-date {
            font-size: 12px;
            cursor: pointer;
          }
          .correct-row-title {
            min-height: 59px;
            margin-top: 16px;
            a {
              margin-top: -6px;
              @include line-clump(3);
              line-height: 1.7;
            }
          }
        }
      }
    }
  }
}