@import "../common/mixin.scss";

$toggle-btn-top: 17px;

.qa {
  padding-top: 75px;
  padding-bottom: 30.2px;
  .qa-inner {
    max-width: 900.5px;
    margin: 0 auto;
    .qa-title {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      @include mq(sp) {
        font-size: 28px;
      }
    }
    .qa-accordion {
      margin-top: 30px;
      @include mq(sp-and-tab) {
        padding: 0 16px;
      }
      .qa-accordion-row {
        position: relative;
        border-top: 1px solid #1B224C;
        cursor: pointer;
        &:nth-last-of-type(2) {
          border-bottom: 1px solid #1B224C;
        }
        .qa-accordion-row-text {
          height: 74px;
          line-height: 74px;
          @include mq(sp) {
            margin-right: 60px;
            line-height: 1.5;
            display: flex;
            align-items: center;
          }
        }
        .toggle-btn {
          position: absolute;
          top: $toggle-btn-top;
          right: 20px;
          width: 25px;
          &::before {
            content: "";
            position: absolute;
            top: $toggle-btn-top;
            width: 25px;
            height: 3px;
            background-color: #1B224C;
          }
        }
        .toggle-open {
          &::after {
            content: "";
            position: absolute;
            top: $toggle-btn-top;
            width: 25px;
            height: 3px;
            background-color: #1B224C;
            transform: rotate(90deg);
          }
        }
      }
      .active {
        height: 65.5px!important;
      }
      .qa-accordion-row-open {
        display: none;
        height: 65px;
        padding-top: 23px;
        padding-left: 26px;
        margin-bottom: 15.5px;
        background-color: #F8F8F8;
        @include mq(sp) {
          height: auto;
          padding-top: 13px;
          padding-bottom: 13px;
          line-height: 1.7;
        }
      }
    }
  }
}