@import "../common/mixin.scss";

$blog-connection-img-box-width: 100px;
$blog-connection-text-box-margin-left: 17px;

.sidebar {
  .sidebar-title {
    height: 63px;
    font-size: 21px;
    font-weight: bold;
    background-color: #1B224C;
    color: white;
    border: 1px solid #707070;
    @include flexbox(nowrap, center, center);
  }
  .blog-connection-list {
    margin-top: 30px;
    margin-bottom: 27px;
    .blog-connection-row {
      display: flex;
      margin-bottom: 42px;
      .blog-connection-img-box {
        img {
          width: $blog-connection-img-box-width;
          height: 70px;
        }
      }
      .blog-connection-text-box {
        width: 152px;
        margin-left: $blog-connection-text-box-margin-left;
        @include mq(sp) {
          width: calc(100% - #{$blog-connection-img-box-width} - #{$blog-connection-text-box-margin-left});
        }
        .blog-connection-title {
          margin-top: -6px;
          a {
            font-size: 12px;
            line-height: 2;
            @include line-clump(3);
          }
        }
      }
    }
  }
  .category-list {
    margin-top: 30px;
    .category-name {
      font-weight: bold;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      a {
        text-decoration: none;
      }
    }
  }
}