@import "../common/mixin.scss";

.toefl-success-stories {
  margin-top: 39px;
  background-color: #1B224C;
  border: 1px solid #707070;
  @include mq(sp) {
    height: auto;
  }
  .toefl-success-stories-inner {
    width: 100%;
    padding-bottom: 59px;
    .toefl-success-stories-title {
      text-align: center;
      max-width: 900px;
      height: 34px;
      padding-top: 58px;
      margin: 0 auto;
      font-size: 36px;
      font-weight: bold;
      color: white;
      line-height: 34px;
      @include mq(sp) {
        width: auto;
        height: auto;
        font-size: 28px;
        line-height: 1;
      }
    }
    .toefl-success-content {
      max-width: 902px;
      padding-top: 164px;
      margin: 0 auto;
      @include flexbox(wrap);
      @include mq(sp-and-tab) {
        display: block;
        padding: 74px 20px;
      }
      .toefl-success-box {
        max-width: 280px;
        @include mq(sp-and-tab) {
          width: 100%;
          max-width: none;
          margin-right: 0!important;
          &:not(:first-child) {
            padding-top: 74px;
          }
        }
        &:first-child {
          margin-right: 30px;
        }
        &:nth-child(2) {
          margin-right: 31px;
        }
        .toefl-success-message {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.8;
          color: white;
        }
        .toefl-success-individual {
          position: relative;
          .toefl-success-img {
            height: 171px;
            margin-top: 6px;
            background-color: white;
            @include flexbox(nowrap, center, flex-end);
            @include mq(sp) {
              justify-content: left;
              height: 241px;
              img {
                height: 190px!important;
              }
            }
            img {
              height: 138px;
            }
          }
          .toefl-success-el-wrap {
            @include mq(sp) {
              width: 150px;
              position: absolute;
              top: 0;
              right: 0;
            }
            .toefl-success-el-name {
              display: flex;
              @include mq(sp) {
                display: block;
              }
              .toefl-success-el, .toefl-success-name {
                height: 32px;
                margin-top: 16px;
                background-color: white;
                font-size: 16px;
                line-height: 32px;
                @include mq(sp) {
                  text-align: center;
                  width: auto!important;
                  height: auto;
                  padding-left: 0!important;
                  margin-top: 12px;
                  background-color: #F8F8F8;
                  line-height: 2;
                }
              }
              .toefl-success-el {
                width: 100px;
                padding-left: 10px;
                margin-right: 8px;
              }
              .toefl-success-name {
                width: 172px;
                padding-left: 14px;
              }
            }
            .toefl-success-result {
              height: 32px;
              padding-left: 14px;
              margin-top: 10px;
              background-color: white;
              font-size: 16px;
              line-height: 32px;
              @include mq(sp) {
                text-align: center;
                height: auto;
                padding-left: 0;
                background-color: #F8F8F8;
                line-height: 2;
              }
            } 
          }
        }
      }
    }
  }
}