@import "../common/mixin.scss";

.use-flow {
  .use-flow-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 58px;
    .use-flow-title {
      height: 34px;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      line-height: 34px;
      @include mq(sp) {
        font-size: 28px;
      }
    }
    .use-flow-box {
      margin-top: 53px;
      @include mq(sp-and-tab) {
        padding: 0 16px;
      }
      .use-flow-row {
        display: flex;
        &:not(:first-child){
          padding-top: 8px;
        }
        .use-flow-no {
          display: inline-block;
          padding: 24px 23px;
          font-weight: bold;
          background-color: #F5A623;
          color: white;
          @include mq(sp) {
            display: flex;
            align-items: center;
          }
        }
        .use-flow-col-1 {
          width: 214.5px;
          padding-left: 21px;
          font-size: 18px;
          font-weight: bold;
          background-color: #F8F8F8;
          @include flexbox(nowrap, flex-start, center);
          @include mq(sp) {
            flex: 1;
            @include flexbox(nowrap, flex-start, inherit, column);
            padding: 24px 0 22px 21px;
          }
          .use-flow-col-1-text {
            display: none;
            font-size: 15px;
            font-weight: 500;
            margin-top: 12px;
            margin-right: 8px;
            line-height: 1.7;
            @include mq(sp) {
              display: block;
            }
          }
        }
        .use-flow-col-2 {
          display: flex;
          align-items: center;
          position: relative;
          flex: 1;
          padding-left: 53.5px;
          background-color: #F8F8F8;
          @include mq(sp) {
            display: none;
          }
          &::before {
            position: absolute;
            top: 17px;
            left: 0;
            content: "";
            width: 1px;
            height: 29px;
            background-color: #C3C3C3;
          }
        }
      }
    }
  }
}