.c-block-center {
  max-width: 900px;
  margin: 0 auto;
}

.c-copy-right {
  padding-top: 13px;
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
  @include mq(sp-and-tab) {
    margin: 0 auto;
  }
}

.c-tip-yellow {
  background-color: #F5A623;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.c-toggle-horizontal {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 25px;
  &::before {
    content: "";
    position: absolute;
    top: 17px;
    width: 25px;
    height: 3px;
    background-color: #1B224C;
  }
}

.c-toggle-vertical {
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    width: 25px;
    height: 3px;
    background-color: #1B224C;
    transform: rotate(90deg);
  }
}

.c-input-error {
  border: 1px solid #B70000!important;
}
