.l-breadcrumbs {
  padding: 19px 0 19px 190px;
  font-size: 12px;
  background-color: #F8F8F8;
  @include mq(sp) {
    padding: 19px 0 19px 19px;
  }
  span {
    &:nth-child(odd){
      padding-right: 2px;
    }
    &:nth-child(even){
      padding-left: 4px;
    }
  }
}
