.l-contents {
  &__inner {
    display: flex;
    padding-top: 60px;
    padding-bottom: 36px;
    @include mq(sp) {
      display: block;
      padding: 58px 16px;
    }
    @include mq(tab) {
      padding: 60px 16px 36px 16px;
    }
  }
}
