.btn-warning {
  background-color: #F5A623;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}

.btn-navy-blue {
  background-color: #1B224C;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}

.btn-border-white {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 30px;
}

.tip-yellow {
  background-color: #F5A623;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.input-error {
  border: 1px solid red;
  background-color: #ffd9e1;
}

.pagination {
  .pnavi {
    text-align: center;
    .page-numbers {
      padding: 17px 20px;
      font-weight: bold;
      border: 1px solid #1B224C;
      text-decoration: none;
    }
    .page-numbers.current {
      background-color: #1B224C;
      color: white;
    }
    .page-numbers.dots {
      border: none;
      margin: 0 11px;
    }
  }
}