$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  sp-and-tab: 'screen and (max-width: 1024px)',
  tab: 'screen and (min-width: 768px) and (max-width: 1024px)',
  tab-and-pc: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@mixin bg-img($bg, $bg-repeat: no-repeat, $bg-position: 0% 0%, $bg-size: cover) {
  background: $bg;
  background-repeat: $bg-repeat;
  background-position: $bg-position;
  background-size: $bg-size;
}

@mixin flexbox($wrap: nowrap, $justify: flex-start, $align: stretch, $flow: row nowrap) {
  display: flex;
  -webkit-flex-wrap : $wrap!important;
  -ms-flex-wrap: $wrap!important;
  flex-wrap: $wrap!important;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $flow;
}

@mixin line-clump($line-clump) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clump;
  overflow: hidden; 
}