@import "../common/mixin.scss";

* {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  &::before, &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}
body {
  padding: 0;
  margin: 0;
  color: #1B224C;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  @include mq(sp) {
    font-size: 14px;
  }
  ul, p, figure, h1, h2, h3, h4, h5, h6, input {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
  a {
    display: inline-block;
    color: #1B224C;
  }
  pre {
    white-space: pre-wrap;
  }
  img {
    object-fit: cover;
  }
  input[type=text] {
    font-size: 12px;
    border: 0.5px solid #1B224C;
  }
  input[type=submit], button {
    padding: 0;
    margin: 0;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  }
  input[type=checkbox] + span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: auto;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -8px;
      background: white;
      border: 1px solid #707070;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 7px;
      width: 7px;
      height: 14px;
      margin-top: -7px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      opacity: 0;
      transform: rotate(45deg);
    }
  }
  input[type=radio] + span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: auto;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -9px;
      border: 1px solid #707070;
      border-radius: 50%;
      background: white;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 2.8px;
      display: block;
      width: 14px;
      height: 14px;
      margin-top: -6px;
      background: #707070;
      border-radius: 50%;
      opacity: 0;
    }
  }
  textarea {
    resize: none;
    border: 0.5px solid #1B224C;
  }
}